.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
em {
  color: rgb(0, 47, 255);
  font-size: larger;
  font-weight: bold;
  font-style: normal;
}
.generaltext {
    display: inline-block
}
.completedtext {
  color: rgb(21, 255, 0);
}
.currenttext {
  background-color: yellow;
}
.racecar {
  
  position: absolute;
  left: 5vw;
}
img {
  max-width: 5vw;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
